* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body section */
body {
    background: linear-gradient(90deg, rgb(50, 77, 99), rgb(142, 206, 211), rgb(92, 139, 149), rgb(32, 113, 118));
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* card section */
.card-container {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    padding: 2rem;
    margin-left: 6%;
}

.card {
    margin: 2rem;
    background-color: cadetblue;
}

.card:hover {
    background-color: rgb(51, 67, 90);
    box-shadow: 0px 0px 50px black;
    transform: scale(0.3s);
    color: azure;
}

/* img section */
img {
    margin: 2rem;
    height: 450px;
    width: 400px;
    border-radius: 3rem;
    margin-left: 13%;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
}

img:hover {
    margin: 1rem;
    margin-left: 14%;
    transition: 0.5s ease-out;
}

/* content section */
.card-content {
    margin: 1rem;
    display: flex;
    margin-top: -2%;
    padding: 2rem;
}

#img1:hover {
    content: url('imges/1_1.jpg');
}

#img2:hover {
    content: url('imges/2_1.jpg');
}

#img3:hover {
    content: url('imges/3_1.jpg');
}

#img4:hover {
    content: url('imges/4_1.jpg');
}

#img5:hover {
    content: url('imges/5_1.jpg');
}

#img6:hover {
    content: url('imges/6_1.jpg');
}

#img7:hover {
    content: url('imges/7_1.jpg');
}

#img8:hover {
    content: url('imges/8_1.jpg');
}

#img9:hover {
    content: url('imges/9_1.jpg');
}

#img10:hover {
    content: url('imges/10_1.jpg');
}

#img11:hover {
    content: url('imges/11_1.jpg');
}

#img12:hover {
    content: url('imges/12_1.jpg');
}

/* card title */
.card-title {
    font-size: 2rem;
}


/* card price */
.card-price {
    margin-left: 100px;
    font-size: 2rem;
}